/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides
 *= require font-awesome
 */

  body {
    color: #555;
    font-size: 0.875rem;
  }

 //headers
 h1,h2,h3,h4,h5,h6 {
  font-family: Cambria, Georgia, sans-serif !important;  
}
p {
  font-family: Calibri, Helvetica, "Helvetica Neue", sans-serif !important;
  font-size: 1.175em;
}




//SEARCH BAR
#search {
    
    background-color: rgba(245, 245, 245, 0.4);
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 45;
    height: 60px;
    letter-spacing: -0.02em;
    margin-top: 50px;
    
}

.intro h2 {
    font-family: "Lobster";
    font-style: italic;
}


/*********************************/
/*************FOOTER**************/
#footer {
    /*background-color: #121212;*/
   
}
.col-lg-12 {
    background-color: #0E2634;   /*#232323*/
}
.footer-social {
    margin-bottom: 10px;
    margin-top: 60px;
}
footer .connected-icons {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}
footer .connected-icons li {
    display: inline-block;
    padding: 17px;
}
footer .connected-icons li .fa-2-5x {
    font-size: 2.5em;
}

.footer-made{
    color: #636363;
    font-size: 15px;
    padding-left: 40px;
    text-transform: uppercase;

}
.footer-made .serif{
    color: #aaaaaa;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
}
.serif{
    font-family: "Libre Baskerville",serif;
    font-style: italic;

}
footer .footer-menu {
    border-top: 1px solid #333;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    height: 64px;
    margin-top: 45px;
    padding-top: 30px;
}

footer .footer-menu a {
    color: #999;
    margin-left: 30px;
    transition: all 0.2s ease 0s;
}


/*LONGIN DROPDOWN*/
.navbar-login
{
    width: 220px;
    padding: 10px;
    padding-bottom: 0px;
}

.dropdown-menu li:hover .navbar-login{
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.flashmessage{
    padding-top: 10px;
}


//HEART
.heart{
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 67px;
  left: 50%;
  margin-left: -38px;
  margin-top: -35px;
  position: absolute;
  width: 71px;
}
