/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap-datepicker3
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




.container {
padding-top: 5em;

}

/****BODY BACKGROUND COLOR****/

body {
  height: 100%;
  background-color:  #170420;
 /* background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  /*background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
 /* background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
 /* background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
 /* background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */   
 /* color: #404040;*/
}



/**************************************/
/*************NAVIGATION**************/

/*************HEADER**********/
.intro-header {
    padding-top: 20em;
}

.main-search {
    padding-left: 8em;
}





/****JOB LISTING CSS****/
.item {
    border: 2px solid #c4c8c8;
    margin-bottom: 20px;

}


.item.tour .item-img {
    border-bottom: 3px solid #4091c8;
    height: 170px;
}
.item.tour .item-img {
    height: auto;

}
.item a.item-img {
    display: block;
}
.item .item-img {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    
}


.item-img img{
    max-width: 100%;
    background-size: cover;
    
}
a, a:hover {
    color: #00b1ff;
}
.item.tour .item-content {
    height: 100px;
    padding: 0 0 5px 0;
    text-align: center;
}
.tour .item-content {
  
   overflow: hidden ;
}
.item .item-content {
    height: 100px;
}
.item .item-content{
    background-color: #fff;
    padding: 10px;
}
.item.tour .item-content h4 {
    border-bottom: 1px solid #b9b9b9;
    font-size: 17px;
    height: 100px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 15px !important;
}
.item h4 {
    border-bottom: 0 none;
    font-size: 14px;
    
}


.item.tour .item-price {
    background: none repeat scroll 0 0 #fff;
    font-size: 14px;
    height: 37px;
    line-height: 16px;
    padding: 10px;
}

.item.tour .item-footer {
    background: none repeat scroll 0 0 #f6f6f6;
    border-top: 1px solid #caced1;
    font-size: 15px;
    height: auto;
    padding: 6px;
}

.item:hover{
    border-color: #38FEB1
}

/******FEATURED RIBBON******/

.ribbon {
    border-radius: 5px 0;
    display: inline-block;
    left: 17px;
    position: absolute;
    top: 2px;
    z-index: 99;
    background-color: #FF3600;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px 5px 5px;
    text-align: center;
    text-transform: uppercase;
}

/**********SEARCH BAR***********/
#search {
    background-color: rgba(245, 245, 245, 0.4);
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 45;
    height: 60px;
    letter-spacing: -0.02em;
    padding: 0;
    
}

.form-group {
    float: center;
    width: 90%;
    padding-right: 10px;
}




/*****SHOW PAGE HEADER *****/
.job-head{
    background-color: #fff;
}
.page-header {
    background: none repeat scroll 0 0 #fafafa;
    border-bottom: 1px solid #ccc;
    font: 38px "Varela Round",sans-serif;
    padding: 20px 0;
    text-align: center;
}
.page-title {
    color: #797979;
    font-size: 26px;
    font-weight: normal;
    
}


.page-subtitle {
    color: #9a9b9e;
    font: 14px "Montserrat",sans-serif;
    margin-top: 0;
}
.page-subtitle ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.page-subtitle li.job-type {
    border-right: 0 none;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}

 li.job-type {
    border-radius: 4px;
    color: #fff;
    font: bold 12px "Montserrat",sans-serif;
    display: inline-block;
}

.full-time {
    background-color: #01BE7E;

}

.part-time {
    background-color: #f08d3c;
}

.temporary{
    background-color: #FF0000;
}

.inter{
   background-color: #0066FF;
   
}

.page-subtitle li {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 20px 0 10px;
}
.page-subtitle li:last-child {
    border-right: 0 none;
}

/******************************************/
/**************JOB OVERVIEW****************/
 aside {
 display: block;
}

.job-meta-top {
    margin-bottom: 60px;
    padding: 0 0 60px;
     border-bottom: 1px solid #eee;
}

.button{
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background: none repeat scroll 0 0 #01da90;
    
}
#post-control {
    font-size: 20px;
}

.application_button{
    font: bold 15px "Montserrat",sans-serif;
    padding: 15px 50px;
    text-transform: uppercase;
}

.job-overview-content {
    line-height: 27px;
}

.job-overview p{
    font-family: Lora,"Times New Roman",serif;
    font-size: 20px;
    color: #404040;
    text-justify: inter-word;

}


*::-moz-selection {
    background: none repeat scroll 0 0 #0085a1;
    color: #fff;
    text-shadow: none;
}

.job-content{
    background-color: #fff;
    padding-bottom: 60px;
}




/*********************************/
/*************FOOTER**************/
#footer {
    /*background-color: #121212;*/
   
}
.col-lg-12 {
    background-color: #232323;
}
.footer-social {
    margin-bottom: 10px;
    margin-top: 60px;
}
footer .connected-icons {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}
footer .connected-icons li {
    display: inline-block;
    padding: 17px;
}
footer .connected-icons li .fa-2-5x {
    font-size: 2.5em;
}

.footer-made{
    color: #636363;
    font-size: 15px;
    padding-left: 40px;
    text-transform: uppercase;

}
.footer-made .serif{
    color: #aaaaaa;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
}
.serif{
    font-family: "Libre Baskerville",serif;
    font-style: italic;

}
footer .footer-menu {
    border-top: 1px solid #333;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    height: 64px;
    margin-top: 45px;
    padding-top: 30px;
}

footer .footer-menu a {
    color: #999;
    margin-left: 30px;
    transition: all 0.2s ease 0s;
}





