/*****SHOW PAGE HEADER *****/
.job-head{
    background-color: #fff;
}
.page-header {
    background: none repeat scroll 0 0 #fafafa;
    border-bottom: 1px solid #ccc;
    font: 38px "Varela Round",sans-serif;
    padding: 20px;
    padding-top: 50px; 
    text-align: center;
}
.page-title {
    color: #797979;
    font-size: 26px;
    font-weight: normal;
    
}


.page-subtitle {
    color: #9a9b9e;
    font: 14px "Montserrat",sans-serif;
    margin-top: 0;
}
.page-subtitle ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.page-subtitle li.job-type {
    text-align: center;
    padding: 3px 10px;
    border-right: 0;
    display: inline-block;
    word-break: break-word;
}


 li.job-type {
    border-radius: 4px;
    color: #fff;
    font: regular 12px "Montserrat",sans-serif;
    display: inline-block;
}

.full-time {
    background-color: #01BE7E;

}

.part-time {
    background-color: #f08d3c;
}

.temporary{
    background-color: #FF0000;
}

.inter{
   background-color: #0066FF;
   
}

.page-subtitle li {
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 20px 0 10px;
}
.page-subtitle li:last-child {
    border-right: 0 none;
}



/******************************************/
/**************JOB OVERVIEW****************/
 aside {
 display: block;
}

.job-meta-top {
    margin-bottom: 60px;
    padding: 0 0 60px;
     border-bottom: 1px solid #eee;
}

.button{
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background: none repeat scroll 0 0 #01da90;
    
}
#post-control {
    font-size: 20px;
}

.application_button{
    font: bold 15px "Montserrat",sans-serif;
    padding: 15px 50px;
    text-transform: uppercase;
}

.job-overview-content {
    line-height: 27px;
}

.job-overview p{
    font-family: Lora,"Times New Roman",serif;
    font-size: 20px;
    color: #404040;
    text-justify: inter-word;

}


*::-moz-selection {
    background: none repeat scroll 0 0 #0085a1;
    color: #fff;
    text-shadow: none;
}

.job-content{
    background-color: #fff;
    padding-bottom: 60px;
}


//logo
.job-logo img {
    height: 150px;
    width: 150px;
}