  <footer class="copy">

    <div class="row">

      <div class="medium-12 columns">

        <p>&copy; Copyright 2014 <a href="./index.html">Awesome</a>. All right reserved.</p>
        
        <div class="heart">
        	<img src="/heart.png/">
        </div>
      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </footer>