  <footer class="copy">

    <div class="row">

      <div class="medium-12 columns">
        Made with
          <span class="serif">love</span>
         for
         <span class="serif">great people</spa> .
        
        <!-- <div class="heart">
        	<img src="/heart.png/">
        </div>
      </div><!-- /.medium-12 .columns  -->

    </div><!-- /.row -->

  </footer>