<!-- Button trigger modal --> 
 <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
       Apply for the Job 
 </button>


<!-- Modal Form -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a
				</button>
				<h4 class="modal-title" id="myModalLabel">Application Form</h4>
			</div>
			<div class="modal-body">
			</div>
			<!-- END MODAL BODY -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    		    <button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div
<!-- ./modal-->	